{% load static %}
{% load i18n %}
<html>

<head>
    <title>Events | Flurga</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-italia.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <script>window.__PUBLIC_PATH__ = "{% static 'webfonts/' %}"</script>
</head>

<body class="neutral-2-bg">
    <div class="container-fluid bg-primary pt-2 pb-2">
        <div class="row">
            <div class="col-sm text-center">
                <a href="./">
                    <h3 class="text-white">Flurga</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid primary-bg-b3 pt-2 pb-2 shadow">
        <div class="row">
            <div class="col-sm text-center">
                <a href="./" class="text-white text-decoration-none me-2">{% trans "Home" %}</a>
                <a href="recordings" class="text-white text-decoration-none me-2">{% trans "Recordings" %}</a>
                <a href="dashboard" class="text-white text-decoration-none"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal" aria-labelledby="confirmModalTitle" data-bs-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalTitle">{% trans "Delete all events" %}</h5>
                </div>
                <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete all events?" %}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <form action="{% url 'events' %}" method="post">{% csrf_token %}<button class="btn btn-primary btn-sm" type="submit" name="dall" formmethod="post" data-bs-toggle="modal" data-bs-target="#wait">{% trans "Confirm" %}</button></form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="wait" aria-labelledby="waitTitle" data-bs-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content" align="center">
                <div class="modal-body">
                    <p class="mb-3"><strong>{% trans "Wait..." %}</strong></p>
                    <div class="progress-spinner progress-spinner-active">
                        <span class="visually-hidden">{% trans "Wait..." %}</span>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="form-group mt-3 mb-0">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" style="width:100%" data-bs-target="#confirmModal">{% trans "Delete all events" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% load index %}
    <div class="row justify-content-center" style="padding-top:25px;margin: auto">
        {% for x in id %}
        <div class="col-lg-3 mb-3">
            <div class="card-wrapper">
                <div class="card card-bg no-after">
                    <img src="{{ snapshot|index:x }}" width="100%" class="img-fluid" />
                    <div class="card-body">
                        <h3 class="card-title h5 ">{{ title|index:x }}<p class="card-text">{{ time|index:x }}</p></h3>
                        <p class="card-text"><a href="{{ clip|index:x }}" target="_blank">{% trans "View clip" %}</a></p>
                        <form action="{% url 'events' %}" style="margin-bottom:0px">{% csrf_token %}<button class="btn btn-primary" type="submit" formmethod="post" name="del" value="{{ delt|index:x }}"><i class="fa-regular fa-trash-can"></i></button></form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/bootstrap-italia.bundle.min.js' %}"></script>
</body>

</html>